* {
    margin: 0;
    padding: 0;
}

.cont {
    display: flex;
    flex-direction: row;
}

.active__screen {
    flex: 1;
}

.dashboard {
    height: calc(100vh - 85px);
}

.plug {
    height: 65px;
    display: flex;
}

.css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper {
    background: #366ac3;
}

.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
    background: #366ac3;
}