.page {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.background__auth {
    padding: 20px;
    border: 1px solid rgba(145, 158, 171, 0.12);
    background-color: rgba(251, 251, 252, 1);
    border-radius: 12px;
}

.page_auth {
    display: flex;
    width: 400px;
    height: 500px;
    flex-direction: column;
}

.auth__header {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    /*background-color: #366ac3;*/
    color: #366ac3;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 36px;
    font-style: normal;
}

.auth__plug {
    height: 100px;
}

.forgot__password {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-content: end;
    align-items: end;
}

.auth__login {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth__signup {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
}

.signup__textfield {
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.label__block {
    margin-top: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    width: 100%;
    color: #366ac3;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.access__button {
    margin-top: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.page__forgot__password {
    display: flex;
    width: 400px;
    height: 300px;
    flex-direction: column;
}

.forgot__plug {
    height: 70px;
}
