.main__container_attributes {
    padding: 20px;
    margin: 20px 120px;
    height: calc(100vh - 145px)
}

.attribute__card {
    margin-top: 45px;
    height: 172px;
    width: 417px;
}

.attributes__body__block {
    margin-top: 10px;
    height: calc(100% - 20px);
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

.attribute__card__header {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: #366ac3;
    display: flex;
    align-items: end;
    height: 40px;
    width: 250px;
}

.attribute__card__header__text {
    margin-left: 15px;
    display: flex;
    color: white;
    justify-content: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.attribute__card__body {
    border: 1px solid rgb(54, 106, 195);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(251, 251, 252, 1);
    padding-left: 15px;
    padding-bottom: 10px;
    height: 120px;
    width: 400px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
}

.attribute__card__body__info {
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-top: 25px;
}

.attribute__row__text {
    display: flex;
    margin-bottom: 10px;
    justify-content: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #366ac3
}

.attribute__row__info {
    display: flex;
    flex-direction: row;
    justify-content: left ;
}

.attribute__row__info__left {
    width: 135px;
}
.attribute__row__info__right {
    width: 120px;
}

.attribute__card__body__buttons {
    margin-right: 10px;
    margin-top: 13px;
}