.background {
    background-color: rgba(251, 251, 252, 1);
    border: 1px solid rgba(145, 158, 171, 0.25);
    border-radius: 12px;
}
.main__container__filters {
    padding: 20px;
    margin: 20px 350px;
    height: calc(100vh - 145px)
}

.header__accordion__label {
    margin-left: 15px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    font-style: normal;
    color: #366ac3;
}

.header__accordion__block {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.header__accordion__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.body__accordion__container {
    display: flex;
    justify-content: space-between;
}

.body__accordion__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.body__accordion__row_info {
    display: flex;
    margin-bottom: 7px;
    justify-content: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #366ac3
}

.body__accordion__buttons {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}

.body__accordion__row__left {
    width: 200px;
}
.body__accordion__row__right {
    width: 250px;
}

